/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Header Modal Styles */
.edit-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
  overflow: visible;

  /* display:none */
}
.edit-header img {
  fill: white;
  display: block;

  z-index: 10;
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}
.page {
  max-width: 1140px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: black;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
  list-style-type: none;
  color: black;
}

li:hover {
  color: #b1663c;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: #b1663c;
}

nav ul img {
  width: 20px;
  height: 20px;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.portfolio {
  display: flex;
}

#portfolio h2 {
  text-align: center;
}
.project-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  gap: 15px;
}

#edit-btn {
  background-color: #fffef8;
  border: #fffef8;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}
.modal-view h2 {
  color: black;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  margin: 50px 30px 30px 30px;

  text-align: center;
}
.modal-content {
  position: relative;
  width: 630px;
  height: 688px;
  margin: 10% auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: #fff;
  max-width: 800px;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
  margin: 30px 65px;
  padding: 20px;
  margin: 30px 65px 0 65px;
}

.gallery-line {
  width: 520px;
  margin-top: 60px;
  border-top: 1px solid #000000;
  display: block;
}

.modal-job {
  position: relative;
  display: flex;
  justify-content: center;
  width: 76.61px;
  height: auto;
}

.modal-job img {
  width: 76.61px;
  height: 102.57px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 5px;
}

.modal-job p {
  font-size: 14px;
  text-align: center;
}

.delete-btn {
  background: transparent;
  position: absolute;
  padding: 0;
  right: 5px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.delete-btn img {
  width: 20px;
  height: 20px;
  display: block;
}

.delete-btn img {
  width: 20px;
  height: 20px;
  display: block;
}
.hidden {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
}
#to-add-photo {
  margin: 30px auto;
  padding: 9px 49px;
  gap: 10px;
  border: none;
  background-color: #1d6154;
  border-radius: 60px;
  color: #ffffff;
  width: 193px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.upload-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e8f1f6;
  width: 420px;
  height: 169px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.upload-action.hidden {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
}

.upload-photo img {
  margin-bottom: 10px;
}
.upload-photo p {
  font-size: 14px;
  color: #444444;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 21px;
  height: 21px;
}
.modal-view h2 {
  color: black;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  margin: 50px 30px 30px 30px;

  text-align: center;
}
/* File Uploading Styling */
#file-upload {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  display: block;
  font-size: 14px;
}

/* Category Menu */
.category-menu {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  gap: 10px;
  font-size: 30px;
}

.category-menu button {
  border: 1px solid #1d6154;
  border-radius: 60px;
  background-color: white;
  color: #1d6154;
  cursor: pointer;
  padding: 10px 20px;
  stroke: #1d6154;
  font-family: "Syne", sans-serif;
  min-width: 100px;
}

.category-menu button:hover {
  background-color: #1d6154;
  color: white;
}
/* Style for the custom file upload button */
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background-color: #cbd6dc; /* You can adjust the background color */
  color: #306685;
  font-size: 14px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  width: 130px;
  margin: 5px;
}

.custom-file-upload:hover {
  background-color: #145a43;
  color: white;
  /* Darker shade on hover */
}

#file-upload {
  display: none;
}

#add-photo-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#title {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #3d3d3d;
  border: none;
  width: 100%;
  line-height: 30px;
}

/* Style for the title input */
#title-input {
  font-family: "Work Sans", sans-serif;
  padding: 10px;
  color: #444;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09);
  font-size: 14px;
  margin-bottom: 20px; /* Spacing below the input */
}

.category-label {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #3d3d3d;
  border: none;
  width: 100%;
  line-height: 30px;
}
#category {
  font-family: "Work Sans", sans-serif;
  color: #444;
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09);
  font-size: 14px;
  margin-bottom: 20px; /* Spacing below the input */
}

.upload-line {
  width: 421px;
  margin-top: 60px;
  border-top: 1px solid #b3b3b3;
  display: block;
}

.confirm-btn {
  background-color: #a7a7a7;
  color: white;
  border: none;
  border-radius: 60px;
  padding: 10px 80px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  cursor: pointer;
  margin: 40px auto;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
